body {
    background-color: #e0ed89;
    background: url("https://image.shutterstock.com/z/stock-photo-paris-france-december-interior-of-gare-de-l-est-paris-est-train-station-with-apple-300037370.jpg");
    background background-repeat: no-repeat;
    background-size: cover;
}

th {
    font-size: 20px;
    text-align: center;
    background-color: #96c8a2;
}

td {
    text-align: center;
}

label {
    font-size: 16px;
}

button {
    font-size: 20px;
    text-align: center;
}

.panel-heading,
h4 {
    font-size: 30px;
    text-align: center;
    background-color: #f36464;
}

.jumbotron,
#submitButton {
    background-color: #d9ebdd;
}
